<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta property="og:image" content="../assets/images/banner_v3.png" />
  {% include head-custom.html %}

  {% seo %}

</head>

<body>

  <header>
    <div class="container">
      <a id="a-title" href="{{ '/' | relative_url }}">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
      </a>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>

      <h4>INLG 2024, Tokyo, Japan</h4>
      <section id="downloads">

        <a href="/index" class ="btn">Home</a>
        <a href="/pages/cfp" class ="btn">Calls</a>
        <a href="/pages/shared_task" class ="btn">Shared task</a>
        <a href="/pages/accepted_papers" class ="btn">Accepted Papers</a>
        <a href="/pages/programme" class ="btn">Programme</a>
        <a href="/pages/contacts" class ="btn">Contacts</a>
        <a href="/2023/" class="btn">Practical D2T 2023</a>
      </section>
    </div>



  </header>

  <div class="container">
    <section id="main_content">
      {{ content }}
    </section>
  </div>

</body>

</html>
