<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}

  {% seo %}

</head>

<body>

  <header>
    <div class="container">
      <a id="a-title" href="{{ '/' | relative_url }}">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
      </a>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>

      <h4>SIGDIAL / INLG 2023, Prague, Czechia</h4>
      <section id="downloads">

        <a href="#hackathon" class="btn">Hackathon</a>
        <a href="#submissions" class="btn">Submissions</a>
        <a href="#for-participants" class="btn">For participants</a>
        <a href="#schedule" class="btn">Schedule</a>
        <a href="#invited-talk" class="btn">Invited talk</a>
        <a href="#organizers" class="btn">Organizers</a>
      </section>
    </div>



  </header>

  <div class="container">
    <section id="main_content">
      {{ content }}
    </section>
  </div>

</body>

</html>